@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --cor-primaria: #8b4513; /* Marrom do Rancho */
  --cor-fundo: #f5f5dc; /* Bege */
  --sombra-card: 0 10px 25px rgba(139, 69, 19, 0.15);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cor-fundo);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.login-card {
  background: white;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: var(--sombra-card);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.brand-icon {
  font-size: 4rem;
  color: var(--cor-primaria);
  margin-bottom: 1rem;
}

.auth-title {
  color: #333;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

/* Inputs */
.input-group-text {
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: none;
  color: var(--cor-primaria);
  border-radius: 10px 0 0 10px;
}

.form-control {
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 10px 10px 0;
  padding: 12px;
}

.form-control:focus {
  border-color: var(--cor-primaria);
  box-shadow: none; /* Remove o azul padrão do bootstrap */
  border-left: 1px solid var(--cor-primaria); /* Fecha a borda no foco */
}

.input-group:focus-within .input-group-text {
  border-color: var(--cor-primaria);
}

/* Botão */
.btn-primary {
  background-color: var(--cor-primaria);
  border: none;
  padding: 12px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.2s;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #6d360f;
  transform: scale(0.98);
}

a {
  color: var(--cor-primaria);
  text-decoration: none;
}
